<mat-toolbar color="primary" class="topbar">
    <a mat-button class="brand" routerLink="/libors1">
        <mat-icon class="brand-logo" fontSet="Material-icon-outlined" fontIcon="menu_book"></mat-icon>
        <span class="brand-name">Libreria NAV</span>
    </a>
<a mat-button routerLink="/categorias" routerLinkActive="active">
    <mat-icon fontSet="Material-icon-outlined">category</mat-icon>
    <span>Categorias</span>

</a>

<a mat-button routerLink="/autores" routerLinkActive="active">
    <mat-icon fontSet="Material-icon-outlined">person</mat-icon>
    <span>Autores</span>
</a>

<a mat-button routerLink="/clientes" routerLink="active">
        <mat-icon fontSet="material-icons-outlined">groups</mat-icon>
        <span> Clientes</span>
    </a>

    <a mat-button routerLink="/libros" routerLink="active">
        <mat-icon fontSet="material-icons-outlined">library_book</mat-icon>
        <span> libros</span>
    </a>
    <span class="spacer"></span>
    <a mat-stroked-button color="accent" routerLink="/carrito">
        <mat-icon fontSet="material-icons-outlined" > shopping_cart</mat-icon>
        <span>Carrito</span>
    </a>


</mat-toolbar>


<div class="container mt-4" #formularioCliente>
    <h2>{{ editar ? 'Editar Cliente' : 'Agregar Cliente'}}</h2>

    <form  (ngSubmit)=" guardar(formCliente)" #formCliente="ngForm" novalidate>
        <div class = "row">
            <div class="col-md-4 mb-2">
                <input class ="form-control" type="number" placeholder="Cédula" [(ngModel)]=" cliente.cedula"
                name="cedula" required #cedula="ngModel" [ngClass]="{'is-invalid': cedula.invalid && cedula.touched}"
                >

            </div>
               <div class="col-md-4 mb-2">
                <input class ="form-control" type="text" placeholder="Nombre" [(ngModel)]=" cliente.nombre"
                name="nomber" required #nombre="ngModel" [ngClass]="{'is-invalid': nombre.invalid && nombre.touched}"
                >

            </div>
            <div class="col-md-4 mb-2">
                <input class="form-control" type="text" placeholder="Apellido" [(ngModel)]="cliente.apellido"
                    name="apellido" required #apellido="ngModel" [ngClass]="{'is-invalid': apellido.invalid && apellido.touched}"
                >

            </div>
            <div class="col-md-6 mb-2">
                <input class="form-control" type="text" placeholder="Direccion" [(ngModel)]="cliente.direccion"
                    name="direccion" required #direccion="ngModel" [ngClass]="{'is-invalid': direccion.invalid && direccion.touched}"
                >

            </div>
               <div class="col-md-3 mb-2">
                <input class="form-control" type="number" placeholder="Telefono" [(ngModel)]="cliente.telefono"
                    name="telefono" required #telefono="ngModel" [ngClass]="{'is-invalid': telefono.invalid && telefono.touched}"

                >

            </div>
                <div class="col-md-3 mb-2">
                    <input class="form-control" type="email" placeholder="Correo" [(ngModel)]="cliente.correo"
                    name="correo" required #correo="ngModel" [ngClass]="{'is-invalid': correo.invalid && correo.touched}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary me-2" [disabled]="formCliente.invalid">
            <mat-icon>{{editar ? 'edit' : 'add'}}</mat-icon>
        </button>
        <button type="button" class="btn btn-secundary" *ngIf="editar"  (click="editarClienteCancelar(formCliente)")>
            <mat-icon>close</mat-icon>
            <!-- Cancelar -->

        </button>

    </form>

    <hr class="my-4">
    <h3>Lista de clientes</h3> 
    <mat-form-field apparence="fill" class="w-100">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="filtroClientes($event)" placeholder="buscar cliente">

    </mat-form-field>

    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100" >
            <ng-container matColumnDef="idCliente">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
                <td mat-cell *matCellDef="let c">{{c.idCliente}}</td>

            </ng-container>


               <ng-container matColumnDef="cedula">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cedula</th>
                <td mat-cell *matCellDef="let c">{{c.cedula}}</td>

            </ng-container>
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
                <td mat-cell *matCellDef="let c">{{c.nombre}}</td>

            </ng-container>
            <ng-container matColumnDef="apellido">
                <th mat-header-cell *matHeaderCellDef mat-sort-header >Apellido</th>
                 <td mat-cell *matCellDef="let c">{{c.apellido}}</td>   
            </ng-container>
            <ng-container matColumnDef="direccion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header >Direccion</th>
                 <td mat-cell *matCellDef="let c">{{c.direccion}}</td>   
            </ng-container>
            <ng-container matColumnDef="telefono">
                <th mat-header-cell *matHeaderCellDef mat-sort-header >telefono</th>
                 <td mat-cell *matCellDef="let c">{{c.telefono}}</td>   
            </ng-container>
            <ng-container matColumnDef="correo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header >correo</th>
                 <td mat-cell *matCellDef="let c">{{c.correo}}</td>   
            </ng-container>

            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef>Acciones</th>
              <td mat-cell *matCellDef="let c">
                    <div class="d-flex gap-1 ">
                        <button class="btn btn-warming btn-sm me-1" (click)="editarCliente(c)">
                            <mat-icon class="me-1"> edit</mat-icon>
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="cliente = c; delete()">
                            <mat-icon class="me-1">delete</mat-icon>

                        </button>

                    </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="mostrarColumnas"></tr>
            <tr mat-row *matRowDef="let row; columns: mostrarColumnas;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>

        
    </div>



</div>